/* styles.css */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.container {
  text-align: center;
  margin-top: 20px; /* Espaço no topo para a logo */
}

.logo-container {
  /* Estilos para a logo, ajuste conforme necessário */
}

h1 {
  color: #fff;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  color: #ccc;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #aaa;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
}

button {
  background-color: #800000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5a0000;
}

#barcodeContainer {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}

footer {
  margin-top: 20px;
}

footer p {
  color: #ccc;
}
