/* styles.css */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.container {
  text-align: center;
}

h1 {
  color: #fff;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #aaa;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
}

button {
  background-color: #800000; /* Cor Marsala */
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Botão arredondado */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5a0000; /* Cor mais escura para o efeito de hover */
}

#barcodeSvg {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}

/* styles.css */

.subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  color: #ccc; /* Cor do texto do subtítulo */
}
